/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.
*/

$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "../lib/ionic/scss/ionic";

$app-light-grey: #A9A4A4;
$app-dark-grey: #5D5D5D;
$app-positive: #0c60ee;

//Platform
.platform-ios {
  .mfb-component--br {
    bottom: 40px;
  }
}

//Global
.error {
  color: red;
}
.left {
  float: left;
}
.right {
  float: right;
}
.alert-offset-bottom {
  bottom: 20%;
}
.no-background-size {
  background-size: 0 !important;
}
.absolute-right {
  position: fixed !important;
  right: 0; top: 0;
  z-index: 999;
}
.mfb-component__button--main {
  background-color: $app-positive !important;
}
.space-bottom > .list {
  padding-bottom: 100px;
}

//Dash

//List

//Shelf
// .disabled {
//   background-color: $app-light-grey;
//   color: $app-dark-grey;
//   .item-content {
//     background-color: inherit;
//     h1, h2, h3, p, span{
//       color: inherit;
//     }
//   }
//   input {
//     border-color: $app-light-grey;
//   }
// }
.shelf-item-name {
  height: 48px !important;
  width: 70%;
  h1, h2, h3 {
    line-height: 3;
  }
}
.shelf-item-input {
  text-align: center;
  width: 20%;
  height: 20px;
  padding: 10px;
  margin-top: 12px;
  background-color: transparent !important;
  z-index: 500 !important;
}
.checkbox-limit-right {
  right: 100% !important;
  z-index: -1 !important;
}

.add-item-input {
  padding: 10px !important;
}
