<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider item-positive">Notices</div>
      <div class="item item-body">
        <div>
          Looks like you need some more milk!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-positive">History</div>
      <div class="item item-body">
        <div>
          You last went shopping: 9/14/15
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-positive">Status</div>
      <div class="item item-body">
        <div>
          You have 2 item currently on your shopping list.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
