<ion-view view-title="List">
  <ion-content>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Ordered by:
        </div>
        <select>
          <option>Alphabetical</option>
          <option>Aisle Number</option>
        </select>
      </label>

    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar" ng-repeat="item in items | orderBy: itemSort === 'Alphabetical' ? 'name' : 'aisle' | filter: { selected: true }" ng-click="toggleItem(item) " type="item-text-wrap">
        <h2>{{item.name}}</h2>
        <p ng-if="item.aisle.length > 0">Aisle: {{item.aisle}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
