<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider item-positive">Notices</div>
      <div class="item item-body">
        <div>
          {{notices.needMore ? "Looks like you might need some more " + notices.needMore + "!" : "No notifications."}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-positive">History</div>
      <div class="item item-body">
        <div>
          You last went shopping: {{history.lastShop || "never"}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-positive">Status</div>
      <div class="item item-body">
        <div>
          You have {{size}} {{size == 1 ? 'item' : 'items'}} currently on your shopping list.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
