<ion-view view-title="Shelf">
  <ion-content>
    <ion-item list-search></ion-item>
    <ion-list class="space-bottom">
      <ion-item ng-repeat="item in items | orderBy: 'name' | filter:search.text"  type="item-text-wrap">
        <div class="left shelf-item-name item-checkbox" ng-click="toggle(item)">
          <label class="checkbox checkbox-limit-right">
            <input ng-model="item.selected" type="checkbox">
          </label>
          <h2>{{item.name}}</h2>
        </div>
        <input class="right shelf-item-input" type="text" ng-model="item.aisle" ng-maxlength="12" ng-trim="true" placeholder="Aisle" />
        <ion-option-button class="button-energized" ng-click="showEditItemPopup(item)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="remove(item)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <nav mfb-menu position="br" effect="zoomin" class="item-positive"
    active-icon="ion-close-round" resting-icon="ion-plus-round"
    toggling-method="click" main-action="showAddItemPopup()" menu-state="addItemFormState">
  </nav>
</ion-view>
