<ion-tabs tabs-swipable class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab ng-class="{'reddd': isTabActive()}" title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- List Tab -->
  <ion-tab title="List" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>

  <!-- Shelf Tab -->
  <ion-tab title="Shelf" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/shelf">
    <ion-nav-view name="tab-shelf"></ion-nav-view>
  </ion-tab>


</ion-tabs>
